<div class="admin-container">
    <!-- Usamos tu componente de Header si lo tienes disponible -->
    <app-headers [title]="title()" [characterImage]="img()"></app-headers>
    <section class="card-body">
        <div class="header-border"></div>
        <div class="mb-4 p-8">
        <p-card>
            <section id="imagenes">
                <div class="container">            
                <app-uploaded-image 
                [nombreDeImagen]="'AGRICOLAORIENTAL'" 
                [id_registro]="2" 
                [proposito]="'DESPUES'"
                (onUploadFinished)="requetsImagen($event)">
                </app-uploaded-image>
            </div>
            <div class="container">            
                <app-uploaded-image 
                [nombreDeImagen]="'AGRICOLAORIENTAL'" 
                [id_registro]="2" 
                [proposito]="'ANTES'"
                (onUploadFinished)="requetsImagen($event)">
                </app-uploaded-image>
            </div>
            </section>
            
        </p-card>
    </div>
    </section>
</div>
