<div class="admin-container">
  <!-- Usamos tu componente de Header si lo tienes disponible -->
  <app-headers [title]="title()" [characterImage]="img()"></app-headers>
  <section class="card-body">
    <div class="header-border"></div>
    <div class="mb-4 p-8" [ngSwitch]="id()">
      <p-card *ngSwitchCase="'1'" header="IMAGENES BANQUETAS">
        <section id="imagenes">
          <div class="container">
            <app-uploaded-image [nombreDeImagen]="'AGRICOLAORIENTAL'" [id_registro]="2" [proposito]="'DESPUES'"
              (onUploadFinished)="requetsImagen($event)">
            </app-uploaded-image>
          </div>
          <div class="container">
            <app-uploaded-image [nombreDeImagen]="'AGRICOLAORIENTAL'" [id_registro]="2" [proposito]="'ANTES'"
              (onUploadFinished)="requetsImagen($event)">
            </app-uploaded-image>
          </div>
        </section>

      </p-card>
      <p-card *ngSwitchCase="'2'" header="GENERAR EXCEL">

      </p-card>
      <p-card *ngSwitchCase="'3'" header="GENERAR PDF">

      </p-card>
      <p-card *ngSwitchCase="'4'" header="GEO LOCALIZACIÓN">

      </p-card>
      <p-card *ngSwitchCase="'5'" header="USUARIOS">

      </p-card>
      <p-card *ngSwitchCase="'6'" header="CATALOGO DE COLORES">

      </p-card>
      <p-card *ngSwitchCase="'7'" header="CATALOGO DE COLORES">

      </p-card>
      <p-card *ngSwitchCase="'8'" header="CATALOGO DE FACHADAS">

      </p-card>
      <p-card *ngSwitchCase="'9'" header="CATALOGO DE REFERENCIAS">
        <app-admin-catalogo-referencias></app-admin-catalogo-referencias>
      </p-card>
      <p-card *ngSwitchCase="'10'" header="LLENADO DE REFERENCIAS">
        <div class="card">
            <div class="flex mb-4 gap-2 justify-end">
                <p-button (onClick)="active = '0'" [rounded]="true" label="1" styleClass="w-8 h-8 p-0" [outlined]="active !== '0'" />
                <p-button (onClick)="active = '1'" [rounded]="true" label="2" styleClass="w-8 h-8 p-0" [outlined]="active !== '1'" />
                <p-button (onClick)="active = '2'" [rounded]="true" label="3" styleClass="w-8 h-8 p-0" [outlined]="active !== '2'" />
            </div>
            <p-accordion [(value)]="active">
                <p-accordion-panel value="0">
                    <p-accordion-header>Datos de inmueble I</p-accordion-header>
                    <p-accordion-content>
                        <p class="m-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.
                        </p>
                    </p-accordion-content>
                </p-accordion-panel>
                <p-accordion-panel value="1">
                    <p-accordion-header>Material de inmueble II</p-accordion-header>
                    <p-accordion-content>
                        <p class="m-0">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                            enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                        </p>
                    </p-accordion-content>
                </p-accordion-panel>
                <p-accordion-panel value="2">
                    <p-accordion-header>Datos de alrededores III</p-accordion-header>
                    <p-accordion-content>
                        <p class="m-0">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
                            culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                        </p>
                    </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>
        </div>
      </p-card>
    </div>
  </section>
</div>
